<p style="color: green"><%= notice %></p>

<h1>Articles</h1>
<%= link_to "New article", new_article_path %>
<hr />
<%= form_with(url: articles_path, method: :get,
data: {controller: "search-form", turbo_frame: "articles", turbo_action: "advance"}) do |form| %>
  <%= form.label :query, "Search by article title:", class: "block mb-2" %>
  <div class="flex space-x-3">
    <%= form.text_field :query, class: "py-3 px-4 rounded border ring-0 focus:ring-4 focus:ring-orange-100 focus:shadow-none focus:border-orange-500 focus:outline-none" %>

    <%= form.submit 'Search', class: "px-4 py-3 font-medium bg-orange-300 text-neutal-900 rounded flex items-center cursor-pointer hover:bg-orange-400 focus:ring-4 ring-0 focus:ring-orange-100" %>
  </div>
<% end %>
<hr />
<% @articles.each do |article| %>
<div class="row  mt-4 clearfix">
  <div class="col-8 col-sm-8 col-md-9 col-lg-9">
    <h5 class="mt-0 mb-1">
      <a href="/articles/<%= article.id %>",
      class="nav-link"><%= article.title %></a>
    </h5>
    <time class="dateline text-muted" role="" itemprop="datePublished" datetime="28.03.2023 09:13" data-timestamp="1679987580">
      <small><%= article.publish %></small>
    </time>
    <%= truncate(strip_tags(article.body.to_s), length:180) %>
  </div>
  <div class="col-4 col-sm-4 col-md-3 col-lg-3 clearfix">
    <% if article.image.attached? %>
      <%= link_to image_tag(article.image,
      style:"width:200px; heigh:auto"), article.image %>
    <% end %>
  </div>
</div>
<% end %>
<div id="articles">
  <% @articles.each do |article| %>
  <div class="row  mt-4 clearfix">
    <div class="col-8 col-sm-8 col-md-9 col-lg-9">
      <h5 class="mt-0 mb-1">
        <a href="/articles/<%= article.id %>",
        class="nav-link"><%= article.title %></a>
      </h5>
      <time class="dateline text-muted" role="" itemprop="datePublished" datetime="28.03.2023 09:13" data-timestamp="1679987580">
        <small><%= article.publish %></small>
      </time>
      <%= truncate(strip_tags(article.body.to_s), length:180) %>
    </div>
    <div class="col-4 col-sm-4 col-md-3 col-lg-3 clearfix">
      <% if article.image.attached? %>
        <%= link_to image_tag(article.image,
        style:"width:200px; heigh:auto"), article.image %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
<hr />
<%= link_to "New article", new_article_path %>
<br />
