<p style="color: green"><%= notice %></p>
<div>
  <%= link_to "Edit this article", edit_article_path(@article) %> |
  <%= link_to "Back to articles", articles_path %>
</div>
<hr />
<h3><%= @article.title %></h3>
<h5><%= @article.publish %></h5>
<div id="navbar" class="1collapse">
  <ul class="nav navbar-nav">
    <li class="">
      <p style="width:650px; heigh:auto">
      <% if @article.image.attached? %>
        <%= link_to image_tag(@article.image,
        style:"width:640px; heigh:auto"), @article.image %>
      <% end %>
      </p>
    <li><hr /></li>
    <li class="">
      <p style="width:400px; heigh:200px">
        <%= @article.body %>
      </p>
    </li>
    <li class="">
      <% if @article.pictures.attached? %>
        <% @article.pictures.each do |attachment| %>
          <% if attachment.image? %>
            <%= image_tag attachment, width: "200px" %>
          <% elsif attachment.audio? %>
            <audio controls>
              <source src="<%= rails_blob_url(attachment) %>"
                type="<%= attachment.content_type %>" />
            </audio>
          <% elsif attachment.video? %>
            <video controls width="720">
              <source src="<%= rails_blob_url(attachment) %>"
                type="<%= attachment.content_type %>" />
            </video>
          <% else %>
            <%= link_to attachment.filename,
            rails_blob_path(attachment, disposition: "attachment") %>
          <% end %>
        <% end %>
      <% end %>
    </li>
  </ul>
</div>
<hr />
<div>
  <%= link_to "Edit this article", edit_article_path(@article) %> |
  <%= link_to "Back to articles", articles_path %>

  <%= button_to "Destroy this article", @article, method: :delete %>
</div>
<br />
