<p style="color: green"><%= notice %></p>

<h1>Posts</h1>
<%= link_to "New Post", new_post_path %>
<hr />
<%= form_with(url: posts_path, method: :get,
data: {controller: "search-form", turbo_frame: "posts", turbo_action: "advance"}) do |form| %>
  <%= form.label :query, "Search by article title:", class: "block mb-2" %>
  <div class="flex space-x-3">
    <%= form.text_field :query, class: "py-3 px-4 rounded border ring-0 focus:ring-4 focus:ring-orange-100 focus:shadow-none focus:border-orange-500 focus:outline-none" %>

    <%= form.submit 'Search', class: "px-4 py-3 font-medium bg-orange-300 text-neutal-900 rounded flex items-center cursor-pointer hover:bg-orange-400 focus:ring-4 ring-0 focus:ring-orange-100" %>
  </div>
<% end %>
<hr />
<div id="posts">
  <table>
    <thead>
      <tr>
        <th></th>
        <th style="width:10px; heigh:auto"></th>
        <th>Title</th>
        <th style="width:10px; heigh:auto"></th>
        <th>Body</th>
        <th style="width:10px; heigh:auto"></th>
        <th></th>
        <th style="width:10px; heigh:auto"></th>
        <th colspan="3"></th>
     </tr>
   </thead>
   <tbody>
     <% @posts.each do |post| %>
       <tr style="padding:10px 20px 25px 0">
         <td>
           <% if post.image.attached? %>
             <%= link_to image_tag(post.image,
             style:"width:60px; heigh:auto"), post.image %>
           <% end %>
         </td>
         <td style="width:30px; heigh:auto"></td>
         <td>
           <a href="/posts/<%= post.id %>",
           class="nav-link"><%= post.title %></a>
         </td>
         <td style="width:30px; heigh:auto"></td>
         <td style="padding-top:10px; padding-right:0px;
         padding-bottom:20px; padding-left:0">
         <%= truncate(strip_tags(post.body.to_s), length: 80) %></td>          <td style="width:30px; heigh:auto"></td>
         <td style="width:10px; heigh:auto"></td>
         <td><%= link_to 'Show', post %></td>
         <td style="width:7px; heigh:auto"></td>
         <td><%= link_to 'Edit', edit_post_path(post) %></td>
       </tr>
    <% end %>
    </tbody>
  </table>
  <br>
</div>
<hr />
<%= link_to "New post", new_post_path %>
<br />
